<% if user_signed_in? -%>
  <h2>Hello: <%= current_user.name -%></h2>

  <ul>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  </ul>
  
<% else -%>
  
  <ul>
    <li>
      <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  </ul>
  
<% end -%>
