<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<% if @event.on_facebook? -%>
  <h4>Invited Friends:</h4>
  <ul>
    <% @event.fetch_from_facebook.invited.each do |friend| -%>
      <li>
	<%= image_tag "http://graph.facebook.com/#{friend.identifier}/picture" -%>
	<%= friend.name -%>
      </li>
    <% end -%>
  </ul>

  <h4>Attending:</h4>
  <ul>
    <% @event.fetch_from_facebook.attending.each do |friend| -%>
      <li>
	<%= image_tag "http://graph.facebook.com/#{friend.identifier}/picture" -%>
	<%= friend.name -%>
      </li>
    <% end -%>
  </ul>
  
<% end -%>


<% if @event.owner == current_user -%>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end -%>

<%= link_to 'Back', events_path %>
